<footer>
    <p>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="Github">
          <svg><use xlink:href="#icon-github"></use></svg>
        </a>
      {% endif %}
    </p>

    {% include links.html %}

    <p>
      Copyright © <a href="https://github.com/whatwhyhow7/cook" target="_blank">whatwhyhow7</a> <svg class="love"><use xlink:href="#icon-heart"></use></svg> 20{{ site.time | date: '%y' }}
    </p>
    <p>
      Powered by <a href="https://github.com/thiagorossener/jekflix-template" target="_blank" class="creator">Jekflix Template</a>
    </p>
</footer>

{% assign social_urls = '' %}
{% if site.github_username %}
    {% assign social_urls = social_urls | append: '"https://github.com/' | append: site.github_username | append: '",' %}
{% endif %}

<!-- Include the website scripts -->
<script src="{{ '/assets/js/scripts.min.js' | prepend: site.baseurl }}"></script>

<!-- Include Google Analytics script -->
{% include stats.html %}
